@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  color: #0d1321;
}

.header_container {
  background-image: url("./assets/Hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.header_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* padding: 50px 100px; */
}

.header_content h1 {
  text-align: center;
  font-size: 40px;
}

.header_content p {
  text-align: center;
  color: rgb(13, 19, 33);
  line-height: 25px;
  margin-top: -5px;
  margin-bottom: 25px;
}

.header_content .btn {
  margin-top: 10px;
}

.btn a {
  text-decoration: none;
  color: #ffffff;
  background-color: rgb(13, 19, 33);
  padding: 10px 50px 10px 15px;
  border-radius: 8px;
}

/* main */
.main_part {
  margin: 80px 150px;
  border-radius: 8px;
}

/* web-development section */

.web_development {
  background-color: rgba(13, 19, 33, 0.02);
}

.web_development_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.web_development_content {
  text-align: center;
}
.web_development_content h2 {
  font-size: 25px;
  padding-top: 40px;
}
.web_development_content p {
  color: rgba(13, 19, 33, 0.8);
  padding: 10px 50px;
  line-height: 25px;
}

.web_top_conatainer,
.web_middle_conatainer,
.web_bottom_conatainer {
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.web_middle_conatainer {
  margin: 30px 0;
}

.web_bottom_conatainer {
  margin-bottom: 50px;
}

.web_top_conatainer,
.middle_right_content,
.web_bottom_conatainer {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(13, 19, 33, 0.02)
  );
  padding: 20px 40px;
  border-radius: 8px;
}

.middle_right_content {
  background: linear-gradient(
    to right,
    rgba(13, 19, 33, 0.02),
    rgba(255, 255, 255, 1)
  );
}

.top_left_content h3,
.middle_right_content h3,
.bottom_left_content h3 {
  font-size: 20px;
  line-height: 25px;
  color: rgba(13, 19, 33, 0.7);
}

.top_left_content p,
.middle_right_content p,
.bottom_left_content p {
  line-height: 25px;
  color: rgba(13, 19, 33, 0.8);
}

.btn_two {
  margin-top: 40px;
}

.btn_two a {
  text-decoration: none;
  color: rgba(13, 19, 33, 0.7);
  font-size: 18px;
  font-weight: 500;
  border: 1px solid rgb(13, 19, 33);
  padding: 10px 50px 10px 20px;
}

/* inspiration section */

.inspiation {
  margin: 50px 0;
}

.inspiration_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inspiration_content .video {
  border: 1px solid rgba(13, 19, 33, 0.5);
  width: 100%;
  padding: 20px;
  border-radius: 8px;
}
.video iframe {
  /* border: 1px solid rgba(13, 19, 33, 0.5); */
  /* padding: 20px; */
  border-radius: 8px;
  width: 100%;
  height: 500px;
}

.inspiration_content h3 {
  font-size: 25px;
  color: rgb(13, 19, 33);
}

.inspiration_content p {
  text-align: center;
  color: rgb(13, 19, 33, 0.8);
  line-height: 25px;
  margin-top: -10px;
  margin-bottom: 30px;
  width: 650px;
}

/* current target */

.current_target_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current_target_content h2 {
  font-size: 28px;
}

.current_target_content p {
  color: rgba(13, 19, 33, 0.8);
  line-height: 25px;
}

.current_target_content .target_description {
  text-align: center;
  width: 600px;
}

.current_target_box {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.current_target_box h3 {
  font-size: 22px;
  font-weight: 700;
}

.box_one {
  background-color: rgba(255, 76, 30, 0.05);
  padding: 30px;
  border-radius: 8px;
}
.box_two {
  background-color: rgba(0, 76, 232, 0.05);
  padding: 30px;
  border-radius: 8px;
}

.box_three {
  background-color: rgba(255, 233, 30, 0.05);
  padding: 30px;
  border-radius: 8px;
}

.current_target_box a {
  color: rgb(13, 19, 33);
  font-size: 18px;
  font-weight: 700;
  text-underline-offset: 3px;
}

/* Support section */

.support {
  margin: 50px 0;
  background-image: url("./assets/handshake.jpg");
  background-color: rgba(13, 19, 33, 0.5);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.support_content h2 {
  color: rgba(255, 255, 255, 1);
}
.support_content p {
  color: rgba(255, 255, 255, 0.7);
}

.input_container {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.input_container input {
  border: none;
  padding: 11px;
  border-radius: 6px;
  width: 50%;
}

.input_container input::placeholder {
  color: rgba(13, 19, 33, 0.6);
  font-weight: 500;
}

.input_container button {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  padding: 11px 15px;
  border-radius: 6px;
}

/* footer */
footer {
  background-color: rgba(13, 19, 33, 0.02);
}

.footer_content {
  padding: 50px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
